.footer {
    padding: 2rem 0;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart {
    color: var(--primary-300);
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.25rem;
    transition: transform 0.3s ease;
}

.heart:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .footer {
        font-size: 0.8rem;
    }
}